<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>About - My Portfolio</title>
</head>
<body>
    <header>
        <h1>My Portfolio</h1>
        <nav>
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/contact">Contact</a>
            <a href="/services">Services</a>
            <a href="/projects">Projects</a>
        </nav>
    </header>
    <main>
        <h2>About Me</h2>
        <div class="text-box">
            <p class="center-text">
                A motivated 19-year-old student pursuing a degree in Software Engineering Technology with a passion for technology, programming, and web development. 
                Seeking opportunities to apply my skills and knowledge to create innovative solutions in the dynamic field of software engineering.
            </p>
            <p>
                Programming Languages: C#, Java, JavaScript, C++, Python
            </p>
            <p>
                Web Development: HTML, CSS, web application development
            </p>
            <p>
                Tools: Visio (project conceptualization and design)
            </p>
            <p>
                For contacts:
            </p>
            <p>
                Email: synthr1der4yourse1f@gmail.com
            </p>
            <p>
                Phone number: +1 555 555 5555
            </p>
        </div>
    </main>
    <script src="/js/script.js"></script>
</body>
<%- include('partials/footer') %>
</html>
