<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Home - My Portfolio</title>
</head>
<body>
    <header>
        <h1>My Portfolio</h1>
        <nav>
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/contact">Contact</a>
            <a href="/services">Services</a>
            <a href="/projects">Projects</a>
        </nav>
    </header>
    <main>
        <h2>Welcome to My Portfolio</h2>
        <div class="text-box">
            <p class="left-text">
                "Hello,my name is Tamirlan Baidauletov. I'm a 19-year-old student currently pursuing a degree in Software Engineering Technology. 
                My journey in the world of technology has been an exciting one, marked by a growing proficiency in a diverse array of programming languages such as C#, Java, JavaScript, C++, and Python. 
                With a strong foundation in HTML and CSS, I'm adept at crafting web applications and user interfaces that are both functional and visually appealing. 
                Moreover, I'm well-versed in using tools like Visio to conceptualize and design projects, providing a comprehensive view of the software development process. 
                As I continue to explore the dynamic field of software engineering, I'm eager to apply my skills and knowledge to create innovative solutions and contribute to the ever-evolving world of technology."
            </p>
        </div>
        <a href="/about" class="button">Learn More</a>
    </main>
    <script src="/js/script.js"></script>
</body>
<%- include('partials/footer') %>
</html>

